// Colors
$color-main: #222;
$color-light: #e7e7e7;

// Dimensions
$body-width: 595px;
$body-height: 842px;
$margin-from-side: 40px;

// Transition
$transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);