@import url('https://fonts.googleapis.com/css?family=B612+Mono');
@import '_variables';
@import '_components';
@import '_keyframes';

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: $color-main;
}
main {
  overflow: hidden;
  background: $color-main;
  height: $body-height;
  width: $body-width;
  font-family: 'B612 Mono', monospace;
  position: relative;
}

div#background{
  background-image: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
  height: $body-height;
  width: $body-width;
  transition: $transition;
}

.animate{
  transform: $transition;
}

.content{
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: $body-width;
  height: $body-height;
}

#c2a{
  position: absolute;
  top: $margin-from-side;
  right: $margin-from-side;

  .circle{
    svg{
      position: absolute;
      left: -39px;
      top: -38px;
      
      circle {
        stroke: #fff; 
        stroke-width: 2px;
        stroke-opacity: 1;
      }
    }
    
    .pulse {
      fill: white;
      fill-opacity: 0;
      transform-origin: 50% 50%;
      animation-duration: 2s;
      animation-name: pulse;
      animation-iteration-count: infinite;
    }
  }

  img{
    width: 25px;
  }
}

#logo{
  margin-top: 105px;
}

#information{
  color: #fff;
  position: absolute;
  bottom: $margin-from-side;
  left: $margin-from-side;
  h1{

  }

  ul{
    padding: 0;
    margin: 0;
    li{
      list-style-type: none;
    }
  }
}

.img-responsive{
  max-width: 100%;
  position: relative;
}