@import url("https://fonts.googleapis.com/css?family=Mukta");
@import '_variables';
@import '_components';

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: $color-main;
}
main {
  overflow: hidden;
  background: $color-main;
  height: $body-height;
  width: $body-width;
  font-family: "Mukta", sans-serif;
  position: relative;
}

div#background{
  background-image: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
  height: $body-height;
  width: $body-width;
  transition: $transition;
}