@import url("https://fonts.googleapis.com/css?family=Mukta");
@import '_variables';
@import '_components';

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: $color-main;
}

main {
  overflow: hidden;
  background: $color-main;
  height: $body-height;
  width: $body-width;
  font-family: "Mukta", sans-serif;
  position: relative;
  z-index: 1;
}

#background {
  width: $body-width;
  height: $body-height;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  background: url('../img/Toronto_background.png') no-repeat center center;
  background-size: cover;
  transform: scale(1.1);
}

.outline {
  width: calc(#{$body-width} - (#{$margin-from-side} * 2.5));
  height: calc(#{$body-height} - (#{$margin-from-side} * 3));
  margin: $margin-from-side * 1.5 $margin-from-side;
  z-index: -1;
  position: relative;
  border-left: 6px solid $color-light;
  border-bottom: 6px solid $color-light;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - (40px * 2.5));
    height: 6px;
    background: $color-light;
  }

  &::after {
    content: '';
    position: absolute;
    top: 60px;
    right: 0;
    width: 6px;
    height: calc(100% - (20px * 3));
    background: $color-light;
  }
}

#foreground {
  background: url('../img/CN_Tower.png') no-repeat center bottom;
  background-size: cover;

  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

// #text{
//   background: url('../img/Toronto_text_full.png') no-repeat center bottom;
//   background-size: cover;
//   position: absolute;
//   bottom: -10px;
//   left: 0;
//   z-index: -1;
//   width: 100%;
//   height: 100%;
// }
