@import url("https://fonts.googleapis.com/css?family=Mukta");
@import '_variables';
@import '_components';

body {
  margin: 15px;
  transition: $transition;
  height: $body-height;
  width: $body-width;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
main {
  background-image: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  font-family: "Mukta", sans-serif;
  position: relative;
}